.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px 10px;
    width: 50%;
    margin: 0 auto;
}

.item {
    border: 1px solid black;
    font-size: 36px;
}